# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[include fluidd.cfg]
[include macro.cfg]
[mcu]
serial: /dev/ttyACM0
restart_method: command

# <-------------- Hardware Configs----------------->

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 2500
max_z_velocity: 40
max_z_accel: 100

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40.0796284
endstop_pin: ^PC0
;endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -2.5
position_endstop: -2.0 
position_max: 265
homing_speed: 40
homing_retract_dist:20

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
;diag_pin: ^PC0
uart_address: 0
run_current: 0.725
driver_SGTHRS: 30

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40.07910349
endstop_pin: ^PC1
;endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: -5.5
position_endstop: -2
position_max: 235
homing_speed: 40
homing_retract_dist:20

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
;diag_pin: ^PC1
uart_address: 2
run_current: 0.725
driver_SGTHRS: 40

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8.034083993
endstop_pin: ^PC2
#endstop_pin: probe:z_virtual_endstop
;position_min: -5 ; glass bed
position_min: -10 ; pei magnet
position_endstop: 0
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
diag_pin: ^PC2
uart_address: 1
run_current: 0.725
driver_SGTHRS: 50

[extruder]
pressure_advance: 0.06
max_extrude_only_distance: 1000.0
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 21.2835516
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_extrude_temp: 170
min_temp: 0
max_temp: 310

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
pin_up_touch_mode_reports_triggered: False
probe_with_touch_mode: True #not necessary but can avoid temporary errors after successful homing on the 3.1
lift_speed: 50
samples_result: average
samples: 3
x_offset: -41.5
y_offset: -5
z_offset: 0


[heater_bed]
heater_pin: PC9
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 155

[verify_heater heater_bed]
max_error: 160
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 90
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 1
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

[fan]
pin: PC7
max_power: 1
#   The maximum power (expressed as a value from 0.0 to 1.0) that the
#   pin may be set to. The value 1.0 allows the pin to be set fully
#   enabled for extended periods, while a value of 0.5 would allow the
#   pin to be enabled for no more than half the time. This setting may
#   be used to limit the total power output (over extended periods) to
#   the fan. If this value is less than 1.0 then fan speed requests
#   will be scaled between zero and max_power (for example, if
#   max_power is .9 and a fan speed of 80% is requested then the fan
#   power will be set to 72%). The default is 1.0.
shutdown_speed: 0
#   The desired fan speed (expressed as a value from 0.0 to 1.0) if
#   the micro-controller software enters an error state. The default
#   is 0.
off_below: 0.10
hardware_pwm: False
cycle_time: 0.010

[heater_fan heatbreak_cooling_fan]
pin: PC6


[heater_fan controller_fan]
pin: PB15
heater: heater_bed
heater_temp: 50




[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>




# <-------------- Software Configs----------------->
[firmware_retraction]
retract_length: 3
retract_speed: 20

[input_shaper]
shaper_freq_x: 82.64
shaper_freq_y: 76.92

[bed_mesh]
speed: 400
horizontal_move_z: 7
mesh_min: 20, 20
mesh_max: 190, 220
probe_count: 6, 6
mesh_pps: 2, 3
algorithm: bicubic
fade_start: 1
fade_end: 3
fade_target: 0
relative_reference_index: 12

[screws_tilt_adjust]
screw1: 74, 42
screw1_name: Front left
screw2: 245, 42
screw2_name: Front right
screw3: 245, 213
screw3_name: Back right
screw4: 74, 213
screw4_name: Back left
screw_thread: CW-M4
horizontal_move_z: 10

[safe_z_home]
home_xy_position: -2.5,117.5
speed: 50.0
z_hop: 20
z_hop_speed: 40
move_to_previous: False

[auto_offset_z]
center_xy_position:117.5,117.5      # Center of bed for example
endstop_xy_position:-2.5,117.5   # Physical endstop nozzle over pin
speed: 100                      # X/Y travel speed between the two points
z_hop: 20                       # Lift nozzle to this value after probing and for move
z_hop_speed: 15                 # Hop speed of probe
ignore_alignment: true         # Optional - this allows ignoring the presence of z-tilt or quad gantry leveling config section
offset_min: -11                  # Optional - by default -1 is used - used as failsave to raise an error if offset is lower than this value
offset_max: 2                   # Optional - by default 1 is used - used as failsave to raise an error if offset is higher than this value
endstop_min: 0                 # Optional - by default disabled (0) - used as failsave to raise an error if endstop is lower than this value
endstop_max: 1.9                 # Optional - by default disabled (0) - used as failsave to raise an error if endstop is higher than this value
offsetadjust: -0.05           # Manual offset correction option - start with zero and optimize during print with babysteps

[force_move]
enable_force_move: True



#[homing_override]
#set_position_z:10
#gcode:
#    G28 X Y
#    G0 Z10
#    MOVE_CENTER
#    G28 Z
#    G29

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh Default]
#*# version = 1
#*# points =
#*# 	0.800000, 1.050000, 1.200000, 1.350000, 1.500000
#*# 	1.200000, 1.450000, 1.600000, 1.750000, 1.800000
#*# 	1.600000, 1.700000, 1.700000, 1.950000, 2.000000
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 5
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 220.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.028911, -0.022824, -0.011412, 0.046409, 0.087492
#*# 	  -0.056299, -0.030432, -0.009890, 0.056299, 0.074559
#*# 	  -0.054778, -0.018259, 0.000000, 0.050974, 0.069233
#*# 	  -0.031954, 0.006847, 0.006847, 0.068472, 0.089775
#*# 	  0.021302, 0.050974, -0.010651, 0.103469, 0.114881
#*# tension = 0.2
#*# min_x = 49.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 3
#*# min_y = 20.0
#*# x_count = 5
#*# max_y = 126.0
#*# mesh_x_pps = 2
#*# max_x = 190.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.111
#*# pid_ki = 1.299
#*# pid_kd = 627.507
